@page
@model ConfirmationModel
@{
    ViewData["Title"] = "Zarezerwowane";
}

<h1 class="text-danger">Zarezerwowane!</h1>
<p>
    Dziękujemy za dokonanie rezerwacji listu: <b>@Model.Letter.ChildenNamesAndAges</b>
</p>
<p>
    Wszelkie pytania prosimy kierować na adres e-mail pandaclaus@pandateam.pl
</p>

