@page
@model LetterModel
@{
    ViewData["Title"] = "List";
}

<div class="container-xxl bg-white p-0">
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="about-img position-relative overflow-hidden p-5 pe-0">
                        <img class="img-fluid w-100" src="@Model.Letter.ImageUrls.First()">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="mb-4">@Model.Letter.ChildenNamesAndAges</h1>
                    <p class="mb-4">@Model.Letter.Reason</p>
                    <p class="mb-4">@Model.Letter.ChildenNamesAndAges</p>
                    @if (Model.Letter.IsAssigned)
                    {
                        <p><i class="fa fa-times text-primary me-3"></i>Zarezerwowane</p>
                    }
                    else
                    {
                        <p><i class="fa fa-check text-primary me-3"></i>Dostępne</p>
                        <a class="btn btn-primary py-3 px-5 mt-3" href="">Zarezerwuj</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
