@page
@model LetterFormModel
@{
    ViewData["Title"] = "List";
}

<div class="container-xxl bg-white p-0">
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="mt-4 mb-4">Panda Claus 2023</h1>
                    <p>Panda Claus powraca! Dzięki wsparciu naszych dzielnych pomocników Pandowego Mikołaja będziemy znowu spełniać marzenia rodzeństw dzieci chorych onkologicznie oraz tych dzieci, które niedawno straciły rodzeństwo. Zapraszamy do wysyłania zgłoszeń!</p>
                    <p>Zasady są bardzo proste:</p>
                    <ol>
                        <li>Aby wziąć udział w akcji dziecko musi napisać list zaadresowany do naszego Pandowego Świętego Mikołaja. Następnie, rodzice wypełniają formularz zgłoszeniowy dostępny na stronie akcji oraz załączają tam skan napisanego listu. Jeden rodzic ma możliwość zgłoszenia kilkorga dzieci, zgłaszając każde dziecko w osobnym formularzu. Zeskanowane listy nie mogą zawierać danych osobowych, jedynie imię oraz wiek dziecka.</li>
                        <li>Wartość prezentu wskazanego w liście dla jednego dziecka nie może przekraczać 300 zł. Należy pamiętać, że prezent powinien być na tyle małogabarytowy, by można było go wysłać kurierem. </li>
                        <li>W listach nie mogą znaleźć się prezenty związane z elektroniką (telefony, tablety itp.) oraz żywe zwierzęta.</li>
                        <li>Zgłoszenia są przyjmowane do 22.11.2023 roku.</li>
                        <li>Organizator zastrzega sobie prawo do weryfikacji diagnozy choroby nowotworowej oraz zażądania przedstawienia innych dokumentów potwierdzających słuszność zgłoszenia.</li>
                        <li>Przesyłki zostaną wysłane kurierem do zgłoszonych osób do Świąt Bożego Narodzenia tj. do 24.12.2023.</li>
                        <li>Zgłoszone do akcji Panda Claus listy zostaną udostępnione w mediach społecznościowych oraz na dedykowanej stronie akcji. Darczyńcy będą mieli możliwość wyboru listów, które zamierzają zrealizować.</li>

                    </ol>
                    <p>Wszelkie pytania prosimy kierować na adres e-mail <a href="mailto:pandaclaus@pandateam.pl">pandaclaus@pandateam.pl</a></p>
                </div>
            </div>
        </div>
        <hr class="mb-4"/>
        <form method="post" enctype="multipart/form-data">
            <div class="container col-lg-6 offset-lg-3">
                <div class="form-group mb-4">
                    <label asp-for="ParentName">Imię i nazwisko rodzica/opiekuna prawnego <span class="text-danger">*</span></label>
                    <input asp-for="ParentName" type="text" class="form-control" id="parentName" required>
                </div>
                <div class="form-group mb-4">
                    <label asp-for="PhoneNumber">Numer telefonu rodzica/opiekuna prawnego <span class="text-danger">*</span></label>
                    <input asp-for="PhoneNumber" type="text" class="form-control" id="phoneNumber" required>
                </div>
                <div class="form-group mb-4">
                    <label asp-for="Email">Adres e-mail rodzica/opiekuna prawnego <span class="text-danger">*</span></label>
                    <input asp-for="Email" type="text" class="form-control" id="email" required>
                </div>
                <div class="form-group mb-4">
                    <label asp-for="Street">Ulica <span class="text-danger">*</span></label>
                    <input asp-for="Street" type="text" class="form-control" id="street" required>
                </div>
                <div class="form-group mb-4">
                    <label asp-for="City">Miasto<span class="text-danger">*</span></label>
                    <input asp-for="City" type="text" class="form-control" id="city" required>
                </div>
                <div class="form-group mb-4">
                    <label asp-for="PostalCode">Postal Code <span class="text-danger">*</span></label>
                    <input asp-for="PostalCode" type="text" class="form-control" id="postalCode" required>
                </div>
                <div class="form-group mb-4">
                    <label asp-for="ChildName">Imię dziecka zgłaszanego do akcji (Jeżeli dodajesz kilkoro dzieci, dodaj je osobno)<span class="text-danger">*</span></label>
                    <input asp-for="ChildName" type="text" class="form-control" id="childName" required>
                </div>
                <div class="form-group mb-4">
                    <label asp-for="ChildAge">Wiek dziecka zgłaszanego do akcji <span class="text-danger">*</span></label>
                    <input asp-for="ChildAge" type="text" class="form-control" id="childAge" required>
                </div>
                <div class="form-group mb-4">
                    <label asp-for="Description">Opiszcie krótko swoją historię i z jakiego powodu bierzecie udział w akcji. Ta treść będzie widoczna na stronie z listem i będzie zachęcała Darczyńców do jego realizacji. <span class="text-danger">*</span></label>
                    <textarea asp-for="Description" rows="3" class="form-control" id="description" required></textarea>
                </div>
                <div class="form-group mb-4">
                    <label asp-for="LetterPhotos">Wyślij skan lub zdjęcie listu <span class="text-danger">*</span></label>
                    <input asp-for="LetterPhotos" type="file" class="form-control" id="file" required multiple>
                </div>
                <div class="form-check mb-4">
                    <input class="form-check-input" type="checkbox" value="" id="privacy" required>
                    <label class="form-check-label" for="privacy">
                        <span class="text-danger">*</span> Akceptuję politykę prywatności Fundacji Panda Team im. Michałka Tarachowicza dostępną na stronie <a href="https://pandateam.pl/polityka-prywatnosci/" target="_blank">https://pandateam.pl/polityka-prywatnosci/</a>
                    </label>
                </div>
                <div class="form-check mb-4">
                    <input class="form-check-input" type="checkbox" value="" id="rules" required>
                    <label class="form-check-label" for="rules">
                        <span class="text-danger">*</span> Wyrażam zgodę na udział w akcji Panda Claus 2023 i akceptuję zasady akcji dostępne na stronie https://pandaclaus.pandateam.pl/Privacy <a href="https://pandaclaus.pandateam.pl/Privacy" target="_blank">https://pandaclaus.pandateam.pl/Privacy</a>
                    </label>
                </div>

                <button type="submit" class="btn btn-primary py-3 px-5 mt-3 float-right">Wyślij</button>
            </div>
            
        </form>


        
    </div>
</div>