@page
@model PrivacyModel
@{
    ViewData["Title"] = "Regulamin";
}

<!-- List Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-12">
                <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                    <h1 class="mb-3">@ViewData["Title"]</h1>
                    <ol>
                        <li>Organizatorem akcji „Panda Claus" jest Fundacja Panda Team im. Michałka Tarachowicza z siedzibą w Poznaniu na os. Bolesława Śmiałego 38/26, 60-682 Poznań.</li>
                        <li>Akcja odbywa się na terenie Rzeczypospolitej Polskiej.</li>
                        <li>Akcja skierowana jest do rodzeństw dzieci onkologicznych (do 3 lat po stwierdzeniu remisji choroby) oraz dzieci, które straciły rodzeństwo w wyniku choroby nowotworowej (do 3 lat po śmierci rodzeństwa). Wiek zgłaszanych dzieci nie może przekraczać 18 lat. W wyjątkowych przypadkach dopuszcza się zgłoszenie dziecka chorego onkologicznie.</li>
                        <li>Aby wziąć udział w akcji, dziecko musi napisać list zaadresowany do naszego Pandowego Świętego Mikołaja. Następnie, rodzice wypełniają formularz zgłoszeniowy dostępny na stronie akcji oraz załączają tam skan napisanego listu.</li>
                        <li><b>Listy muszą być przygotowane przez dzieci samodzielnie.</b> Listy pisane na komputerze zostaną odrzucone. Rodzic może pomagać w pisaniu listu w wersji papierowej, jeśli dziecko jeszcze nie umie pisać lub ma trudności, jednak prosimy o własnoręczne ozdobienie listów.</li>
                        <li>Jeden rodzic ma możliwość zgłoszenia kilkorga dzieci, zgłaszając każde dziecko w osobnym formularzu. <b>Zeskanowane listy nie mogą zawierać danych osobowych</b>, jedynie imię oraz wiek dziecka.</li>
                        <li>Wartość prezentu wskazanego w liście dla jednego dziecka nie może przekraczać 400 zł. Prezent musi być na tyle małogabarytowy, by można było go wysłać paczkomatem.</li>
                        <li>Proszę wziąć pod uwagę następujące wymiary paczek:
                            <ul>
                                <li>Gabaryt A: Maksymalne wymiary: 8 × 38 × 64cm</li>
                                <li>Gabaryt B: Maksymalne wymiary: 19 x 38 x 64cm</li>
                                <li>Gabaryt C: Maksymalne wymiary: 41 x 38 x 64cm</li>
                            </ul>
                            Maksymalna waga: 25 kg.
                        </li>
                        <li>W listach dzieci nie mogą prosić o żywe zwierzęta. Nie powinno być też próśb o przedpłacone karty podarunkowe, jeżeli są one jedynym prezentem wskazanym przez dziecko.</li>
                        <li>Zgłoszenia listów są przyjmowane do 19.11.2025 roku do godziny 12:00. Organizator zastrzega sobie prawo do zmiany terminu przyjmowania zgłoszeń.</li>
                        <li>Organizator zastrzega sobie prawo do weryfikacji diagnozy choroby nowotworowej oraz zażądania przedstawienia innych dokumentów potwierdzających słuszność zgłoszenia.</li>
                        <li>Przesyłki zostaną wysłane <b>Paczkomatem</b> lub kurierem <b>InPost</b> do zgłoszonych osób do Świąt Bożego Narodzenia tj. do 24.12.2025.</li>
                        <li>Zgłoszone do akcji Panda Claus listy zostaną udostępnione w mediach społecznościowych oraz na dedykowanej stronie akcji. Darczyńcy będą mieli możliwość wyboru listów, które zamierzają zrealizować.</li>
                        <li>Darczyńca ma obowiązek dostarczyć prezent do dnia 6 grudnia 2025 roku.</li>
                        <li>Szczegóły wysyłki oraz dokładne terminy Darczyńcy otrzymają e-mailowo na podane adresy.</li>
                        <li>Uczestnicy poprzez przystąpienie do akcji wyrażają zgodę na nieodpłatne wykorzystanie przez Organizatora zdjęć i tekstów zgłoszonych w ten sposób we wszelkich działaniach marketingowych, reklamowych i sprzedażowych — bez ograniczeń czasowych i terytorialnych.</li>
                        <li>Uczestnicy akcji wyrażają zgodę na nieodpłatne wykorzystanie i rozpowszechnianie przez Organizatora utworów zależnych, powstałych w wyniku aranżacji lub przeróbek tych zdjęć i tekstów.</li>
                        <li>Udział w akcji jest równoznaczny z akceptacją regulaminu, wyrażeniem zgody na publikację listu oraz na przekazanie Fundacji Panda Team swoich danych kontaktowych i danych do wysyłki.</li>
                        <li>Szczegółowe informacje na temat przetwarzania danych osobowych znajdują się na stronie <a href="https://pandateam.pl/polityka-prywatnosci/">https://pandateam.pl/polityka-prywatnosci/</a>.</li>
                        <li>Wszelkie pytania prosimy kierować na adres e-mail <a href="mailto:pandaclaus@pandateam.pl">pandaclaus@pandateam.pl</a>.</li>
                    </ol>
                </div>
            </div>
        </div>
        
    </div>
</div>
